<!--Start slogan area-->
<section class="slogan-area">
    <div class="container">
        <div class="slogan-content-box">
            <div class="slogan-content-box-bg"
                style="background-image: url(assets/front/images/backgrounds/slogan-content-box-bg.jpg);"></div>
            <div class="inner-title">
                <h2>Experience a New Digital World.</h2>
                <p>Web banking application with new & exciting features.</p>
            </div>
           
        </div>
    </div>
</section>
<!--End slogan area-->


<!--Start footer area -->
<footer class="footer-area">
    <div class="right-shape">
        <img src="assets/front/images/shapes/footer-right-shape.png" alt="">
    </div>

    <!--Start Footer Top-->
    <div class="footer-top">
        <div class="lef-shape">
            <span class="icon-origami"></span>
        </div>
        <div class="container">
            <div class="row">
                <!--Start single footer widget-->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
                    <div class="single-footer-widget single-footer-widget--link-box">
                        <div class="title">
                            <h3>Loans</h3>
                        </div>
                        <div class="footer-widget-links">
                            <ul>
                                <li><a href="#">Home Loan</a></li>
                                <li><a href="#">Car Loan</a></li>
                                
                                <li><a href="#">Commercial Vehicle Loan</a></li>
                                <li><a href="#">Personal Loan</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->
                <!--Start single footer widget-->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
                    
                    <div class="single-footer-widget single-footer-widget--link-box-style2">
                        <div class="title">
                            <h3>Online</h3>
                        </div>
                        <div class="footer-widget-links">
                            <ul>
                                <li><a href="#">Internet Banking</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->

                <!--Start single footer widget-->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
                    <div class="single-footer-widget single-footer-widget--link-box">
                        <div class="title">
                            <h3>About Us</h3>
                        </div>
                        <div class="footer-widget-links">
                            <ul>
                                <li><a href="#">Our Story</a></li>
                                <li><a href="#">Board of Directors</a></li>
                                <li><a href="#">Management Committee</a></li>
                                <li><a href="#">Media</a></li>
                                <li><a href="#">Investor Relations</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->

                <!--Start single footer widget-->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
                    <div class="single-footer-widget single-footer-widget--link-box">
                        <div class="title">
                            <h3>Services</h3>
                        </div>
                        <div class="footer-widget-links">
                            <ul>
                                <li><a href="#">Savings Account</a></li>
                                <li><a href="#">Current Account</a></li>
                                <li>Deposits</li>
                                <li>Cards</li>
                                <li>Payment</li>
                           
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->
            </div>
        </div>
    </div>
    <!--End Footer Top-->

    <!--Start Footer-->
    <div class="footer">
        <div class="container">
            <div class="row">

                <!--Start single footer widget-->
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="single-footer-widget marbtm50">
                        <div class="our-company-info">
                            <div class="footer-logo-style1">
                                <a href="index.html">
                                    <img src="assets/front/images/footer/footer-logo-1.png" alt="Awesome Logo"
                                        title="">
                                </a>
                            </div>
                            <div class="copyright-text">
                                <p>
                                    Copyright &copy; 2022 <a href="index.html">EASE.</a> Licensed by the<br>
                                    Central Bank of Tunisia.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->

                <!--Start single footer widget-->
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="single-footer-widget marbtm50">
                        <div class="footer-widget-contact-info">
                            <ul>
                                <li>
                                    <h3>
                                        <a href="tel:+216 52 359 577">+216 52 359 577</a>
                                    </h3>
                                    <p>Customer Care</p>
                                </li>
                                <li>
                                    <h3>Mon - Fri: 9.00am to 5.00pm</h3>
                                    <p>Banking Hours</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->

                <!--Start single footer widget-->
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <div class="single-footer-widget-right-colum">
                            <ul>
                            
                                <li>
                                    <a href="#">
                                        Register Your Complaint
                                        <span class="icon-feedback"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->

            </div>
        </div>
    </div>
    <!--End Footer-->

    <div class="footer-bottom">
        <div class="container">
            <div class="bottom-inner">
                <div class="footer-menu">
                    <ul>
                        <li><a href="#">Disclaimer</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Online Security Tips</a></li>
                    </ul>
                </div>
                <div class="footer-social-link">
                    <ul class="clearfix">
                       
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                      
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>
<!--End footer area-->

<div class="mobile-nav__wrapper">
    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
    <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler">
            <i class="fas fa-plus"></i>
        </span>
        <div class="logo-box">
            <a href="index.html" aria-label="logo image">
                <img src="assets/front/images/resources/mobile-nav-logo.png" alt="" />
            </a>
        </div>
        <div class="mobile-nav__container"></div>
        <ul class="mobile-nav__contact list-unstyled">
            <li>
                <i class="fa fa-envelope"></i>
                <a href="mailto:EASE@bankFin.tn">EASE@bankFin.tn</a>
            </li>
            <li>
                <i class="fa fa-phone-alt"></i>
                <a href="tel:+216 52 359 577">+216 52 359 577</a>
            </li>
        </ul>
        <div class="mobile-nav__social">
            <a href="#" class="fab fa-facebook-square"></a>
            <a href="#" class="fab fa-instagram"></a>
        </div>
    </div>
</div>


<div class="search-popup">
    <div class="search-popup__overlay search-toggler"></div>
    <div class="search-popup__content">
        <form action="#">
            <label for="search" class="sr-only">search here</label>
            <input type="text" id="search" placeholder="Search Here..." />
            <button type="submit" aria-label="search submit" class="thm-btn">
                <i class="icon-search"></i>
            </button>
        </form>
    </div>
</div>


<a href="#" data-target="html" class="scroll-to-target scroll-to-top">
    <i class="icon-chevron"></i>
</a>
