           
 <!--back-->


<div class="sb-nav-fixed">
  <app-header-admin></app-header-admin>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
        </div>
    <app-side-admin></app-side-admin>

    <div id="layoutSidenav_content">
      <div class="container-fluid px-4">
          <div class="container">
            <div class="row">
                
                <router-outlet></router-outlet>
              </div>
                
                      
                  
          
                              
      <br><br><br><br><br><br><br>
                
              
               <app-footer-admin></app-footer-admin>
 </div>
</div>
</div>    
</div>
</div>
  
            
  
     
    
  