

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
                                  <th>Username</th>
                                  <th>Due Date</th>
                                  <th>Installment Count</th>
                                  <th>Interest to be Paid</th>
                                  <th>Monthly Installment Amount</th>
                                  <th>Principal to be Paid</th>
                                  <th>Remaining Principal</th>
                                  <th>Status</th>
                                  <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr   *ngFor="let c of allC">
        <td>
        
            <div class="ms-3">
                                <p class="fw-bold mb-1">{{c.userCredit.username}}</p>
              
            </div>
        
        </td>
        <td>
                                 <p class="fw-normal mb-1">{{ c.dueDate }}</p>
        </td>
       
                                 <td>{{ c.installmentCount }}</td>
                                  <td>{{ c.interestToBePaid }}</td>
                                  <td>{{ c.monthlyInstallmentAmount }}</td>
                                  <td>{{ c.principalLoanAmount }}</td>
                                  <td>{{ c.remainingPrincipal }}</td>
         <td>
            <span class="badge badge-warning rounded-pill d-inline">{{c.statusC}}</span>
        </td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded">
            Décision
          </button>
        </td>
      
      </tr>
    </tbody>
  </table>
  